flask>=2.2.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
torchvision==0.15.2+cpu
pillow>=9.0.0
timm==0.5.4
gdown==4.4.0
gunicorn==20.1.0
numpy<2
scikit-learn>=0.24.0
werkzeug>=2.0.0
requests
beautifulsoup4 